*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}

html{
    scroll-behavior: smooth;

}
/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(29,29,29,0.7);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: 1s all;
}

.logo-img{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    padding: 10px 0px;
}

a:hover{
    transition: 1s;
}

.checkbtn{
    font-size: 30px;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
    
}
    
#check{
display:none;
}
.drop-ul{
position: fixed;
width: 20%;
height: 83.5vh;
left: -100%;
transition: all 1s;
padding: 0px 10px;
z-index: 1;
background-color: rgba(221, 221, 221, 0.9);
cursor: pointer;
}
.drop-ul li{
display: block;
padding: 20px 10px;
}
.drop-ul li:hover{
background-color: rgba(221, 221, 221, 0.9);
}
#check:checked ~ ul {
left: 0;
}
    



/* this is for login form */
.login{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 20px;
    right: 0;
    overflow-x: hidden;
    transition: 1s all;
    padding-top: 60px;
}
.login form{
    background-color: rgba(221, 221, 221, 0.9);
    padding: 30px;
    transition: 1s all;
}

.login .closebtn{
    position: absolute;
    right: 25px;
    font-size: 25px;
}
.openbtn{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 15px;
}
.openbtn i{
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

/* playing now */
.big-container{
    /* padding-top: 70px; */
    position: relative;
}
.bg-image-container{
    background-image: url('./pic/80be32197ca7971424bef5e4d0c6810e1d4334c6-1024x1024.jpeg');
    height: 100vh;
    position: relative;
    filter: blur(3px);
}

.playing-container{
    display: flex;
    float: left;
    position: absolute;
    top: 20%;
    left: 10%;
}

.playing-container > div{
    display: flex;
    width: 100%;
    align-items: center;
 
}
.playing-container > div > img{
    width: 280px;
    height: 280px;
    padding-right: 20px;
   
}
.song-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;
    /* width: 45%; */
}
.song-details a{
    text-decoration: underline;
    cursor: pointer;
}
.song-details h1{
    font-size: 45px;
}
.song-details > p{
    overflow: hidden;
    line-height: 1.2rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    width: 55%;
}
.else{
    display: flex;
}

.else button{
    border-radius: 20px;
    border: none;
    padding: 9px 25px;
    font-weight: 300px;
    margin: 0px 10px;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.else > button:nth-child(1){
    background-color: #FB0D1B;
}
.else > button:nth-child(2){
    background-color: #1DB954;
}
.else > button:hover{
    border: 1px solid white;
    background-color:rgba(221, 221, 221, 0.5);
}
.else-drop {
    width: 100%;
    text-align: center;
}
.else-drop li .fa-reply{
    width: 80px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 0px;
    cursor: pointer;
}

.else-drop li .fa-reply:hover{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.drop-menu{
    position: relative;
}
.else-drop:hover .drop{
    display: block;
    cursor: pointer;
}

.drop{
    position:absolute;
    top: 104%;
    display: none;
}
.drop li{
    padding: 10px 0px;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 0px; 
}
.drop > li:nth-child(1){
    border-top: none;
}
.drop > li:nth-child(2){
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* latest release  */
.latest-release{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:inherit;
    padding: 20px 0px;
    position: absolute;
    top: 55%;
}
.text-latest-release{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: inherit;

}
.album{
    display: flex;
    justify-content: center;
    width: 80%;
}
.album div{
    padding-top: 20px;
    width: 30%;
}
.album img{
    width: 100%;
    height: auto;
    padding-right: 20px;
}


/* listen-to-logo */
.listen-to{
    padding: 70px 0px;
}
.listen-to-logo{
    height: 300px;
    width: 100%;
    background-color: white;
    text-align: center;
}
.listen-to-logo h3{
    color: rgb(71, 71, 71);
    font-size: 30px;
    padding-bottom: 30px;
    background-color: white;
}
.logo{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    height: 100%;
    flex-wrap: wrap;
    background-color: white;
}
.logo h3{
    width: 250px;
    font-size: 30px;
    padding: 15px 10px;
    background-color: white;
    color: #999999;
}
.logo i{
    background-color: white;
    color: rgb(71, 71, 71);
}


/* Artist section */

.details-container{
    position: relative;
}
.bg-image{
    background-image:url('./pic/EVGj5gIUMAAheHg.jpeg');
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    filter: blur(3px);
}

.details{
    width: 70%;
    margin:auto;
    text-align: center;
    background-color: initial;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 15%;
    padding: 10px 0px;
    color: white;
}
.details h1{
    font-weight: 800;
    font-family: 'Abril Fatface' , sans-serif;
    font-size: 35px;
}
.details h3{
    padding: 15px 0px;
    height: 70px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.details button{
    background-color: transparent;
    border-radius: 20px;
    width: 135px;
    height: 40px;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    margin: 15px 0px;
    cursor: pointer;
    text-transform: uppercase;
}
.details button:hover{
    background-color:rgba(221, 221, 221, 0.5);
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    top: 40%;
    user-select: none;
    -webkit-user-select: none;
    margin: 0px 40px;
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 8px 0px;
}
.next{
    right: 0;
}
.next:hover,
.prev:hover{
    background-color: rgba(221, 221, 221, 0.5);
    color: black;
}

/* shop-item */
.shop-container{
    padding: 60px 0px;
    width: 100%;
    height: 100%;
    align-items: center;
}
.shop-container > div:nth-child(1){
    width: 80%;
    margin:auto;
    padding: 20px 0px;
}
.shop-container > div:nth-child(1) > h3{
    display: inline;
    color: black;
}
.shop-container > div:nth-child(1) >h3:nth-child(1){
    font-family: 'Abril Fatface' , sans-serif;
}
.shop-container > div:nth-child(1) >h3:nth-child(2){
    padding: 10px 15px;
    margin: 0px 20px;
    border: 1px solid black;
    font-family: 'Abril Fatface' , sans-serif;
}
.web-shop{  
    float: right;
}
.web-shop i{
    color: black;
}
.shop-items{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.shop-items img{
    width: 20%;
    height: auto;
}

/* Subscribe */
.user-menu{
    width: 80%;
    margin:auto;
    padding:20px 0px;
}
.user-menu{
    display: flex;
    width: 80%;
    margin: auto;
}
.spotify{
    flex-grow: 1;
}
.follow{
    display: flex;
    align-items: baseline;
}
.follow button{
    background-color: #1DB954;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 0px 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.follow button:hover{
    border: 1px solid #1DB954;
    background-color: transparent;
}

.subscribe-container{
    width: 100%;
    padding: 75px 0px;
    background-color: black;
}
.subscribe-users{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}
.user img{
   width: 100%;
   height: 70%;
}
.user h3{
    text-align: center;
    height: 40px;
    /* padding: 10px 0px; */
    font-size: 2vh;
}
.user button{
    background-color: #1DB954;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.user button:hover{
    border: 1px solid #1DB954;
    background-color: transparent;
}


/* social container */
.social-container h3, .social-container i{
    color: #999999;
    font-size: 25px;
}
.social-container{
    padding: 60px 0px;
    width: 100%;
    color: black;
} 
.social{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.social-items{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

/* youtube container */

.youtube-container{
    background: url('https://wallpapercave.com/wp/wp4783968.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0px;
    width: 100%;
}

.youtube-flex{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.youtube-logo{
    display: flex;
    flex-direction: column;
}


.yb-logo{
    display: flex;
}
.yb-logo i{
    font-size: 80px;
    color: red;
    padding: 0px 5px;
}
.yb-logo h3{
    padding-top: 30px;
    text-transform: uppercase;
}

.youtube-logo .fa-check-square{
    font-size: 20px;
    padding: 10px;
}

.youtube-follow{
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
}

.youtube-follow button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 0px 10px;
    height: 40px;
    color: black;
    text-transform: uppercase;
}
.youtube-follow h3{
    display: inline;
}

.livestream{
    text-align: center;
}
.livestream button{
    padding: 20px 30px;
    color:white;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    cursor: pointer;
}

.small-logo{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    padding: 70px 0px;
    font-size: 20px;
}

/* ins container */
.ins-container{
    padding: 80px 0px;
    background-color:rgba(221, 221, 221, 0.5);
    width: 100%;
}
.ins-logo{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}
.i-logo{
    display: flex;
}
.i-logo i{
    font-size: 45px;
    padding: 5px;
    color: black;
}
.i-logo h3{
    padding: 15px 0px;
    color: black;
}

.follow-ins{
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
}
.follow-ins button{
    height: 40px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #458eff;
    cursor: pointer;
    text-transform: uppercase;
}
.follow-ins h3, .follow-ins i{
    color: black;
}
.follow-ins h3{
    padding: 0px 10px;
}

.ins-img{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.ins-img img{
    width: 20%;
    padding: 0px 10px;
}

/* footer */
.footer-container{
    background-color: #1d1d1d;
    padding: 50px 0px;
    width: 100%;
    margin-bottom: 60px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    padding: 10px 0px;
}
.info, .info-logo{
    display: flex;
    flex-wrap: wrap;

}
.info h3, .info-logo i{
    padding: 0px 10px;
    text-transform: uppercase;
}

.contact-info{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
}
.info-1{
    display: flex;
    padding: 10px 0px;
}
.info-1 h3{
    padding: 0px 10px;
}
.contact-info > h3{
    padding: 0px 10px;
 
}

/* scroll arrow */
.scroll{
    position: fixed;
    right: 50px;
    bottom: 150px;
}
.scroll i{
    width: 50px;
    height: 50px;
    border: 1px solid  white;
    background-color: black;
    border-radius: 50%;
    padding: 15px 0px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

/* music audio */
.music{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.audio-player{
    width: 100%;
    outline: none;
}

























@media screen and (max-width: 1472px){
    .logo h3{
        width: 210px;
    }
}




@media screen and (max-width: 1200px){
    .logo h3{
        width: auto;
    }
    .logo{
        width: 80%;
    }
    /* .album{
        flex-wrap: wrap;
    } */
    .album div:nth-child(5){
        display: none;
    }
    /* .else > h3{
        font-size: 10px;
    } */
}

@media screen and (max-width: 1000px){
    .album div:nth-child(4){
        overflow: hidden;
    }
}

@media screen and (max-width: 1024px){
    .playing-container > div{
        width: 100%;
    }
}
@media screen and (max-width: 767px){
    /* playing-container */
    .bg-image-container{
        height: 150vh;
    }
    .playing-container{
       top: 10%;
       left: 1%;
       width: 100%;
    }
    .playing-container > div{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .playing-container > div > img{
        width: 100%;
        background-size:cover;
    }
    /* chua xong o day */
    .song-details{
        width: 90%; 
    }
    .song-details > p{
        -webkit-line-clamp: 2;
    }

    /* latest */
    .latest-release{
        top: 60%;
    }
    .album{
        width: 90%;
        flex-wrap: wrap;
    }
    .album div:nth-child(3), .album div:nth-child(4){
        display: none;
    }
    .album > div{
        width: 45%;
    }

    /* shop */
    .shop-items{
        flex-direction: column;
        align-items: center;
    }
    .shop-items img{
        width: 50%;
        padding-bottom: 20px;
    }

    /* spotify */
    .subscribe-users{
        display: flex;
        width: 90%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .subscribe-users div:nth-child(5){
        display: none;
    }
    .user{
        width: 45%;
    }

    /* ins */
    .ins-img{
        flex-wrap: wrap;
    }
    .ins-img img{
        width: 45%;
        padding: 10px;
    }
    .ins-img img:nth-child(5){
        display: none;
    }
    
}